* { margin: 0; padding: 0; }

body { padding: 50px; font: 14px "Lucida Grande",Helvetica,Arial,sans-serif; text-align: center; }

a { color: #0BF; text-decoration: none; }
a:hover { text-decoration: underline; }

.wrap {
  width: 800px;
  min-height: 500px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  background: #EEE;
}

.list {
  width: 400px;
  margin: 0 auto;
}

#form {
  position: absolute;
  top: 50px;
  left: 220px;
  width: 400px;
  height: 0;
  background: #FFF;
  overflow: hidden;
  -webkit-transition: height 1s linear;
}